<template>
    <div id="edit-body-page">
        <v-card class="content-margin">
            <v-card-text class="top-panel padding">

                <v-text-field outlined v-model="body.name" class="top-panel__input" label="Body name"></v-text-field>

                <v-select
                    outlined
                    class="top-panel__input top-panel__input-small"
                    label="Project"
                    :items="selectProjectItems"
                    @change="onSelectProject($event)"
                    v-model="body.projectId"></v-select>

                <v-select
                    outlined
                    v-model="body.modelId"
                    class="top-panel__input top-panel__input-small"
                    :items="responseModels"
                    label="Model"
                    @change="onChangeModel($event)"></v-select>

                <v-spacer></v-spacer>

                <v-btn 
                    v-if="body.id"
                    class="top-panel__btn"
                    @click="remove()"
                    color="red">Delete</v-btn>
                <v-btn 
                    v-if="body.id"
                    class="top-panel__btn"
                    @click="preview()"
                    color="secondary">Preview</v-btn>
                <v-btn
                    class="top-panel__btn"
                    @click="save()"
                    color="primary">Save</v-btn>
            </v-card-text>
        </v-card>

        <v-layout class="content">

            <v-flex md8 xs12 class="first-flex">
            <!-- <v-flex v-if="!body.arrayModelId" class="first-flex"> -->
                <body-field-component
                    v-for="(field, index) in body.model"
                    class="body-items"
                    :key="index"
                    v-model="body.value[field.name]"
                    :modelField="field"
                    :projectId="body.projectId"></body-field-component>
                
            </v-flex>

            <v-flex md4 xs12 class="second-flex">
                <code>{{body.value}}</code>
            </v-flex>

        </v-layout>

        <div class="mobile-buttons">
            <v-btn 
                v-if="body.id"
                class="mobile-buttons__btn"
                @click="remove()"
                color="red">Delete</v-btn>
            <v-btn 
                v-if="body.id"
                class="mobile-buttons__btn"
                @click="preview()"
                color="secondary">Preview</v-btn>
            <v-btn 
                class="mobile-buttons__btn"
                @click="save()"
                color="primary">Save</v-btn>
        </div>

        <v-dialog v-model="previewDialogIsOpened" width="300px">
            <v-card>
                <v-card-text>
                    <code>{{previewDialogContent}}</code>
                </v-card-text>
            </v-card>
        </v-dialog>

        <select-popup-component :controller="selectPopupController" />

        <snackbar-component :controller="snackbarController"/>

    </div>
</template>

<style lang="scss">
    #edit-body-page {
        .body-items {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .second-flex {
            padding-left: 15px;
        }
        .add-body {
            width: 100%;
        }
        .modelBodyName {
            display: flex;
            align-items: center;
        }
        .modelBodyNameField {
            display: inline-block;
        }
        .content {
            flex-wrap: wrap;
        }

        .mobile-buttons {
            display: none;
            margin-top: 15px;
            &__btn {
                width: 100%;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media (max-width: 1263px) {
            .top-panel {
                &__input {
                    width: 100%;
                    margin: 10px 0 0!important;
                    &:first-child {
                        margin-top: 0!important;
                    }
                }
                &__btn {
                    display: none;
                }
            }
            .mobile-buttons {
                display: block;
            }
        }

        @media (max-width: 959px) {
            .body-items {
                &:last-child {
                    margin-bottom: 15px;
                }
            }
            .second-flex {
                padding-left: 0!important;
            }
        }
    }
</style>

<script lang="ts">
    import { Component, Vue, Inject } from 'vue-property-decorator'; 
    import BodyService from '../../services/body.service';
    import BodyInterface from '../../models/body.interface';
    import ModelsService from '../../services/models.service';
    import ProjectInterface from '../../models/project.interface';
    import ModelInterface from '../../models/model.interface';
    import BodyFieldComponent from '../../components/body-field.component.vue';
    import SnackbarController from '../../controllers/sackbar.controller';
    import SnackbarComponent from '../../components/snackbar.component.vue';
    import ModelFieldInterface from '../../models/model-field.interface';
    import * as RULES from '../../rules/base.rule';
    import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT } from '../../store/current-project.module';
    import SelectPopupComponent from '../../components/select-popup.component.vue';
    import SelectPopupController from '../../controllers/select-popup.controller';
    import SelectItemInterface from '../../models/select-item.interface';
    import FieldTypeConstants from '../../constants/field-type.constants';
    import ProjectsService from '../../services/projects.service';

    @Component({
        components: {
            BodyFieldComponent,
            SnackbarComponent,
            SelectPopupComponent
        }
    })
    export default class EditBodyPage extends Vue {

        @Inject() public bodyService: BodyService;
        @Inject() public modelsService: ModelsService;
        @Inject() public projectsService: ProjectsService;

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        }

        public params: any;
        public body: BodyInterface = {
            id: null,
            name: '',
            modelId: null,
            projectId: this.currentProject ? this.currentProject.id : 0,
            value: {},
            modelName: '',
            model: [],
            projectName: '',
            errors: null
        };

        public selectProjectItems: SelectItemInterface[] = [];

        public snackbarController: SnackbarController = new SnackbarController();
        public selectPopupController: SelectPopupController = new SelectPopupController();

        public responseModels: SelectItemInterface[] = [];

        public selectedBodyItems: BodyInterface[] = [];
        public selectedBodyValues: any[] = [];

        public previewDialogIsOpened: boolean = false;
        public previewDialogContent: any = {};

        public RULES: any = RULES;

        public created() {
            this.params = this.$router.currentRoute.params;
            if(this.params.id && +this.params.id) {
                this.bodyService.getById(Number(this.params.id))
                    .then((res: BodyInterface) => {
                        this.body = res;
                        this.updateModels(res.projectId);
                    })
                    .catch((res) => {
                        this.$router.push('/404');
                    })
            } else if (this.params.id && !+this.params.id) {
                this.$router.push('/404');
            } else {
                if(this.currentProject) this.updateModels(this.currentProject.id);
            }

            this.projectsService.getInfoRows()
                .then(res => {
                    this.selectProjectItems = res.map(item => {
                        return {
                            text: item.name,
                            value: item.id
                        }
                    })
                })
        }

        public onSelectProject(projectId: number): void {
            this.selectedBodyValues = [];
            this.selectedBodyItems = [];
            this.body.model = [];
            this.body.value = {};
            this.body.modelId = null;
            
            this.updateModels(projectId);
        }

        public updateModels(projectId: number) {
            this.modelsService.getInfoRows(projectId)
                .then(res => {
                    this.responseModels = res.map(item => {
                        return {
                            text: item.name,
                            value: item.id
                        }
                    })
                })
        }

        public onChangeModel(modelId: number): void {
            this.modelsService.getById(modelId)
                .then(res => {
                    this.selectedBodyValues = [];
                    this.selectedBodyItems = [];
                    this.body.model = res.model;
                    this.body.value = {};
                    this.body.modelId = res.id;
                })
        }

        public save(): void {

            this.params = this.$router.currentRoute.params;
            this.body.id = +this.params.id;

            for(let i=0; i<this.body.model.length; i++) {
                const field: ModelFieldInterface = this.body.model[i];
                const value = this.body.value[field.name];
                let isValid: boolean | string = RULES.REQUIRED(value);
                
                if(isValid !== true && field.required) {
                    this.snackbarController.openError('Not filled required fields');
                    return;
                } else if(isValid !== true && !field.required) {
                    delete this.body.value[field.name];
                }

                isValid = (FieldTypeConstants.STRING === field.type) ? true : this.RULES[field.type.replace(/\S+\[\]|\S+\(\d+\)/, 'INTAGER')](value);

                if(typeof isValid === 'string') {
                    this.snackbarController.openError(isValid);
                    return;
                }
            }

            if(this.body.id && typeof this.body.id === 'number') {
                this.bodyService.update(this.body)
                    .then((res) => {
                        if(res.errors === null) {
                            this.snackbarController.openSuccess('OK');
                        } else {
                            this.snackbarController.openError(JSON.stringify(res.errors));
                        }
                    })
                    .catch((res) => {
                        console.error(res);
                    })
            } else {
                this.bodyService.create(this.body)
                    .then((res) => {
                        if(res.errors === null) {
                            this.body = res;
                            this.snackbarController.openSuccess('OK');
                            this.$router.push('/body-list/edit/' + res.id)
                        } else {
                            this.snackbarController.openError(JSON.stringify(res.errors));
                        }
                    })
                    .catch((res) => {
                        console.error(res);
                    })
            }
        }

        public preview(): void {

            // if(this.body.arrayModelId != null) {
            //     this.bodyService.getPreviewById(this.body.id)
            //         .then((res: any) => {
            //             this.previewDialogContent = res;
            //             this.previewDialogIsOpened = true;
            //         });
            //     return;
            // }

            this.bodyService.getPreviewById(this.body.id)
                .then((res: any) => {
                    this.previewDialogContent = res;
                    this.previewDialogIsOpened = true;
                })
        }

        public remove(): void {
            this.bodyService.remove(this.body.id)
                .then(res => {
                    this.$router.push('/body-list');
                    this.snackbarController.openSuccess(`Body ${res.name} is deleted`);
                })
        }

    }
</script>