<template>
    <v-card class="elevation-12">
        <v-toolbar
        color="primary"
        dark
        flat
        >
            <v-toolbar-title>Login form</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
        <v-form>
            <v-text-field
            label="Login"
            name="login"
            prepend-icon="person"
            type="text"
            v-model="username"
            ></v-text-field>

            <v-text-field
            id="password"
            label="Password"
            name="password"
            prepend-icon="lock"
            type="password"
            v-model="password"
            ></v-text-field>
        </v-form>
        </v-card-text>
        <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="login()">Login</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script lang="ts">
    import { Component, Vue, Inject, Emit } from 'vue-property-decorator';
    import { Base64 } from 'js-base64';
    import {AxiosInstance} from 'axios';
    import UsersService from '../services/users.service';
    import ProjectsService from '../services/projects.service';
    import AuthService from '../services/auth.service';
    import TokenRepository from '../repository/token.repository';
    import { ACTION_LOGIN, GET_CURRENT_USER } from '../store/current-user.module';
    import UserInterface from '../models/user.interface';
    import ProjectInterface from '../models/project.interface';
    import CurrentProjectRepository from '../repository/current-project.repository';
    import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT } from '../store/current-project.module';  

    @Component({
        props: {
            source: String
        }
    })
    export default class LoginPage extends Vue {

        @Inject() public authService: AuthService;
        @Inject() public usersService: UsersService;
        @Inject() public projectsService: ProjectsService;

        public username: string = '';
        public password: string = '';

        public login(): void {
            
            this.authService.login(this.username, this.password)
                .then((res) => {
                    TokenRepository.setToken(res);
                    this.usersService.getCurrentUser()
                        .then((user: UserInterface) => {
                            this.$store.dispatch(ACTION_LOGIN, user)
                            this.$router.push('/');

                            if(+CurrentProjectRepository.getProjectId(user.id) !== 0) {
                                this.projectsService.getById(+CurrentProjectRepository.getProjectId(user.id))
                                    .then((project: ProjectInterface) => {
                                        this.$store.dispatch(ACTION_SELECT_CURRENT_PROJECT, project);
                                    })
                                .catch((res) => {
                                    CurrentProjectRepository.removeProjectId(user.id);
                                });
                            }

                        })
                    
                })
        }

    }
</script>
