<template>
    <v-card class="body-field">
        <v-card-text class="field-content padding">
            <div class="field-inputs">
                <div class="field-content__name">
                    <h3 v-if="modelField.name">{{modelField.name}}: </h3>
                    <p class="field-type">{{type}}</p>
                </div>

                <v-text-field
                    outlined
                    v-if="modelField.type === fieldTypes.STRING"
                    class="field-inputs__input"
                    :value="value"
                    :rules="(modelField.required) ? [rules.REQUIRED] : []"
                    @change="input($event)"></v-text-field>

                <v-text-field
                    outlined
                    v-if="modelField.type === fieldTypes.INTAGER"
                    class="field-inputs__input"
                    :value="value"
                    :rules="(modelField.required) ? [rules.REQUIRED, rules.INTAGER] : [rules.INTAGER]"
                    @change="input($event)"></v-text-field>

                <v-text-field
                    outlined
                    v-if="modelField.type === fieldTypes.FLOAT"
                    class="field-inputs__input"
                    :value="value"
                    :rules="(modelField.required) ? [rules.REQUIRED, rules.FLOAT] : [rules.FLOAT]"
                    @change="input($event)"></v-text-field>

                <v-select
                    outlined
                    v-if="modelField.type === fieldTypes.BOOLEAN"
                    class="field-inputs__input"
                    :items="[true, false]"
                    :value="value"
                    :rules="(modelField.required) ? [rules.REQUIRED, rules.BOOLEAN] : [rules.BOOLEAN]"
                    @change="input($event)"
                    label="Value"></v-select>

                <v-file-input
                    outlined
                    v-if="modelField.type === fieldTypes.IMAGE"
                    class="field-inputs__input"
                    accept="image/png, image/jpeg, image/bmp"
                    :rules="(modelField.required) ? [rules.REQUIRED] : []"
                    @change="selectImage($event)"></v-file-input>

                <v-select
                    outlined
                    v-if="/^MODEL\(\d+\)$/.test(modelField.type)"
                    class="field-inputs__input"
                    :items="selectBodyItems"
                    :value="value"
                    :rules="(modelField.required) ? [rules.REQUIRED] : []"
                    @change="selectBody($event)"
                    label="Body"></v-select>
                    
                <v-select
                    outlined
                    v-if="/^\S+\[\]$/.test(modelField.type)"
                    class="field-inputs__input"
                    :items="selectBodyItems"
                    :value="value"
                    :rules="(modelField.required) ? [rules.REQUIRED] : []"
                    @change="selectBody($event)"
                    label="List"></v-select>
            </div>

            <v-btn v-if="canRemove" @click="onRemove()" class="field-remove" icon color="red">
                <v-icon>close</v-icon>
            </v-btn>
        </v-card-text>
    </v-card>
</template>

<style lang="scss">
    .body-field {
        .field-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .field-type {
            margin-left: 10px;
            margin-bottom: 0!important;
        }
        .field-inputs {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            // justify-content: space-around;
            width: calc(100% - 60px)!important;
            &__input {
                width: calc(30% - 20px);
                margin-right: 10px!important;
                margin-left: 10px!important;
                flex: none;

                    &:first-child {
                        margin-left: 0!important;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                
                
                }
        }
        .field-remove {
             margin-right: -15px;
        }
        @media (max-width: 679px) {
            .field-inputs {
                &__input {
                    width: 100%;
                    margin: 0 0 10px!important;
                    &:last-child {
                        margin-bottom: 0!important;
                    }
                }
            }
            .field-content {
                align-items: flex-start!important;
            }
            .field-remove {
                margin-top: -15px;
            }
        }
    }
</style>

<script lang="ts">
    import { Component, Vue, Inject, Emit, Prop } from 'vue-property-decorator';
    import ModelsService from '../services/models.service';
    import BodyService from '../services/body.service';
    import BodyInterface, {getValueById} from '../models/body.interface';
    import ProjectInterface from '../models/project.interface';
    import ModelFieldInterface from '../models/model-field.interface';
    import {getModelIdByType, getModelTypeById, getModelListIdByType} from '../functions';
    import * as BaseRules from '../rules/base.rule';
    import SelectItemInterface from '../models/select-item.interface';
    import ListsService from '../services/lists.service';
    import FieldTypeConstants from '../constants/field-type.constants';
    
    @Component
    export default class BodyFieldComponent extends Vue {
        
        @Inject() public modelsService: ModelsService;
        @Inject() public bodyService: BodyService;
        @Inject() public listsService: ListsService;

        @Prop() public value: any;
        @Prop() public modelField: ModelFieldInterface;
        @Prop() public canRemove: boolean;
        @Prop() public projectId: number;

        public modelId: number = 0;

        public rules = BaseRules;

        public fieldTypes = FieldTypeConstants;

        // public bodyByModel: BodyInterface[] = [];
        // public bodyNamesByModel: string[] = [];
        public type: string = '';
        
        public bodyIsResponsed: boolean = false;
        public selectBodyItems: SelectItemInterface[] = [];

        public created(): void {
            this.onRun();
        }

        public updated(): void {
            this.onRun();
        }

        public onRun(): void {
            if(typeof this.rules.MODEL(this.modelField.type) !== 'string') {
                const modelId = getModelIdByType(this.modelField.type);
                if(this.bodyIsResponsed && this.modelId === modelId) return;
                this.bodyIsResponsed = false;
                this.modelId = modelId;
                this.bodyService.getByModel(this.projectId, modelId)
                    .then((res) => {
                        this.bodyIsResponsed = true;
                        // this.bodyByModel = res;
                        this.selectBodyItems = res.map((item) => {
                            return {
                                text: item.name,
                                value: item.id
                            };
                        });
                    });

                this.modelsService.getById(modelId)
                    .then((res) => {
                        this.type = 'MODEL( ' + res.name + ' )';
                    })
            } else if(typeof this.rules.MODEL_LIST(this.modelField.type) !== 'string') {
                const modelId = getModelListIdByType(this.modelField.type);
                if(this.bodyIsResponsed && this.modelId === modelId) return;
                this.bodyIsResponsed = false;
                this.modelId = modelId;
                this.listsService.getByModelId(modelId, this.projectId)
                    .then((res) => {
                        this.bodyIsResponsed = true;
                        // this.bodyByModel = res;
                        this.selectBodyItems = res.map((item) => {
                            return {
                                text: item.name,
                                value: item.id
                            };
                        });
                    })
                this.modelsService.getById(modelId)
                    .then((res) => {
                        this.type = 'MODEL( ' + res.name + ' )[]';
                    })
            } else if(/^\S+\[\]$/.test(this.modelField.type)) {
                if(this.bodyIsResponsed && this.type === this.modelField.type) return;
                this.bodyIsResponsed = false;
                this.modelId = 0;
                // this.bodyNamesByModel = [];
                this.type = this.modelField.type;
                this.listsService.getByType(this.modelField.type.replace('[]', ''), this.projectId)
                    .then(res => {
                        this.bodyIsResponsed = true;
                        // this.bodyByModel = res;
                        this.selectBodyItems = res.map((item) => {
                            return {
                                text: item.name,
                                value: item.id
                            };
                        });
                    })
            } else {
                // this.bodyByModel = [];
                this.modelId = 0;
                // this.bodyNamesByModel = [];
                this.type = this.modelField.type;
            }
        }

        public selectBody(bodyId: number): void {
            this.input(bodyId);
        }

        public selectImage(img: File): void {
            const reader = new FileReader();
            reader.readAsDataURL(img);
            reader.onload = () => this.input(reader.result);
            // reader.onerror = error => reject(error);
        }

        @Emit() public input(value: any): any {
            return value;
        }

        @Emit('on-remove') public onRemove(): void {
            return;
        }

    }
</script>