<template>
    <v-switch
        :disabled="project.id === null"
        :label="label"
        v-model="isActive">
    </v-switch>
</template>

<script lang="ts">
    import { Component, Vue, Inject, Prop } from 'vue-property-decorator';
    import { ACTION_SELECT_CURRENT_PROJECT, ACTION_RESET_CURRENT_PROJECT, GET_CURRENT_PROJECT } from '../store/current-project.module';
    import ProjectInterface from '../models/project.interface';
    import CurrentProjectRepository from '../repository/current-project.repository';
    import { GET_CURRENT_USER } from '../store/current-user.module';
    import UserInterface from '../models/user.interface';

    @Component
    export default class IsCurrentProjectCellComponent extends Vue {

        @Prop() public project: ProjectInterface;
        @Prop() public label: string;

        public get currentUser(): UserInterface {
            return this.$store.getters[GET_CURRENT_USER];
        }

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        }

        // public _isActive: boolean = this.currentProject.id === this.project.id;

        public get isActive(): boolean {
            return this.currentProject !== null ? this.currentProject.id === this.project.id : null;
        }

        public set isActive(val: boolean) {
            if(val === false) {
                CurrentProjectRepository.removeProjectId(this.currentUser.id);
                this.$store.dispatch(ACTION_RESET_CURRENT_PROJECT);
                return;
            }
            CurrentProjectRepository.setProjectId(this.currentUser.id, this.project.id);
            this.$store.dispatch(ACTION_SELECT_CURRENT_PROJECT, this.project);
        }

    }
</script>