<template>
    <div class="model-field">
        <v-card>
            <v-card-text class="field-content padding">
                <div class="field-inputs">
                    <v-text-field
                        outlined
                        class="field-inputs__input"
                        label="Name"
                        v-model="value.name"
                        :rules="ARR_RULES.MODEL_FIELD_NAME"></v-text-field>
                    <!-- <v-text-field class="field-inputs__input" label="Type"></v-text-field> -->
                    <v-select 
                        outlined
                        v-model="selectedType"
                        class="field-inputs__input field-inputs__input-small"
                        :items="fieldTypes"
                        @change="changeType($event)"
                        label="Type"></v-select>
                    <v-select
                        outlined
                        v-model="selectedModel"
                        :items="selectModelItems"
                        v-if="selectedType === 'MODEL' || selectedType === 'MODEL[]'"
                        class="field-inputs__input field-inputs__input-small"
                        @change="onSelectModel()"
                        label="Model name"></v-select>
                    <v-checkbox
                        outlined
                        v-model="value.required"
                        label="Required"
                        class="field-inputs__input field-inputs__input-small"></v-checkbox>
                </div>
                <v-btn @click="onRemove()" class="field-remove" icon color="red">
                    <v-icon>close</v-icon>
                </v-btn>
            </v-card-text>
        </v-card>
        <snackbar-component :controller="snackbarController"/>
    </div>
</template>

<style lang="scss">
    .model-field {
        .field-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // padding-left: 30px;
            // padding-right: 30px;
        }
        .field-inputs {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            // justify-content: space-around;
            width: calc(100% - 60px)!important;
            &__input {
            width: calc(30% - 20px);
            margin-right: 10px!important;
            margin-left: 10px!important;
            flex: none;

                &:first-child {
                    margin-left: 0!important;
                }

                &:last-child {
                    margin-right: 0;
                }
            
            &-small {
                    width: calc(20% - 20px);
                    min-width: 100px;
            }
            }
        }
        .field-remove {
            margin-right: -15px;
        }
        @media (max-width: 679px) {
            .field-inputs {
                &__input {
                    width: 100%;
                    margin: 0 0 10px!important;
                    &:last-child {
                        margin-bottom: 0!important;
                    }
                }
            }
            .field-content {
                align-items: flex-start!important;
            }
            .field-remove {
                margin-top: -15px;
            }
        }
    }
</style>


<script lang="ts">
    import { Component, Vue, Inject, Emit, Prop } from 'vue-property-decorator';
    import ModelInterface from '../models/model.interface';
    import ModelFieldInterface from '../models/model-field.interface';
    import {getModelIdByType, getModelTypeById, getModelListIdByType, getModelListTypeById} from '../functions';
    import ProjectInterface from '../models/project.interface';
    import ModelsService from '../services/models.service';
    import SnackbarComponent from '../components/snackbar.component.vue';
    import SnackbarController from '../controllers/sackbar.controller';
    import * as ARR_RULES from '../rules/arrays.rule';
    import * as RULES from '../rules/base.rule';
    import { enumToArray } from '../functions';
    import SelectItemInterface from '../models/select-item.interface';
    import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT } from '../store/current-project.module';
    import FieldTypeConstants from '../constants/field-type.constants';
    import RowInfoInterface from '../models/row-info.interface';

    @Component({
        components: {
            SnackbarComponent
        }
    })
    export default class ModelFieldComponent extends Vue {

        @Inject() public modelsService: ModelsService;

        @Prop() public value: ModelFieldInterface;
        @Prop() public modelId: number;
        @Prop() public projectId: number;

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        }

        public RULES: any = RULES;
        public ARR_RULES: any = ARR_RULES;

        public fieldTypes: string[] = Object.keys(FieldTypeConstants).map(item => FieldTypeConstants[item]);
        public disabled: boolean = true;
        public selectedType: string | null = null;
        public selectedModel: number | null = null;
        public responseModels: ModelInterface[] = [];
        public responseModelsNames: string[] = [];
        public selectModelItems: SelectItemInterface[] = [];

        public snackbarController: SnackbarController = new SnackbarController();

        public created() {
            if(this.value.type && typeof RULES.MODEL(this.value.type) !== 'string') {
                this.selectedType = FieldTypeConstants.MODEL;
                this.selectedModel = getModelIdByType(this.value.type);
                this.updatModelList();
            } else if(this.value.type && typeof RULES.MODEL_LIST(this.value.type) !== 'string') {
                this.selectedType = FieldTypeConstants.MODEL_LIST;
                this.selectedModel = getModelListIdByType(this.value.type);
                this.updatModelList();
            } else {
                this.selectedType = this.value.type;
            }
        }

        public updatModelList(): void {
            this.modelsService.getInfoRows(this.projectId)
                    .then(res => {
                        const filteredModels: RowInfoInterface[] = res.filter((item) => {
                            return item.id !== this.modelId
                        });
                        this.selectModelItems = filteredModels.map((item) => {
                            return {
                                text: item.name,
                                value: item.id
                            };
                        });
                })
        }

        public changeType(event?: any) {
            if(this.selectedType === FieldTypeConstants.MODEL || this.selectedType === FieldTypeConstants.MODEL_LIST) {
                this.selectedModel = null;
                this.value.type = '';
                this.changeValue();
                this.updatModelList();
            } else {
                this.value.type = this.selectedType;
            }
        }

        @Emit('input') public changeValue(): ModelFieldInterface {
            return this.value;
        }

        @Emit('on-remove') public onRemove(): void {
            return;
        }

        public onSelectModel(): void {
            if(this.selectedModel === null) return
            
            if(this.selectedModel !== null && this.selectedType === 'MODEL') {
                this.value.type = getModelTypeById(this.selectedModel);
            } else if(this.selectedModel !== null && this.selectedType === 'MODEL[]') {
                this.value.type = getModelListTypeById(this.selectedModel);
            }
            
            this.changeValue();
            
        }

    }
</script>
