<template>
    <v-list 
        dense
        nav>

        <div v-for="(item, index) in getNav()" :key="index">
            <v-list-item v-if="!itemIsHaveChildrens(item)" :to="item.path">
                <v-list-item-icon>
                    <v-icon>{{item.icon}}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>{{item.name}}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-group
                v-else
                :value="groupIsHavingCurrentPage(item)"
                no-action>

                <template v-slot:activator>
                    <v-list-item-icon>
                        <v-icon>{{item.icon}}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>{{item.name}}</v-list-item-title>
                    </v-list-item-content>
                </template>

                <v-list-item
                    v-for="(childItem, childIndex) in getShowedItems(item.children)" :key="childIndex"
                    :to="item.path + '/' + childItem.path">
                    <v-list-item-icon>
                        <v-icon>{{childItem.icon}}</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>{{childItem.name}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                
            </v-list-group>
        </div>
        
    </v-list>
</template>

<style lang="scss">

</style>


<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';
    import navigation from '../navigation';
    import NavItemInterface from '../models/nav-item.interface';
    import UserInterface from '../models/user.interface';
    import ProjectInterface from '../models/project.interface';
    import { GET_CURRENT_USER } from '../store/current-user.module';  
    import { GET_CURRENT_PROJECT } from '../store/current-project.module';  

    @Component
    export default class NavbarComponent extends Vue {

        public get currentUser(): UserInterface {
            return this.$store.getters[GET_CURRENT_USER];
        };

        public get currentProject(): ProjectInterface {
            return this.$store.getters[GET_CURRENT_PROJECT];
        };

        public navigation: NavItemInterface[] = navigation;

        public getNav(): NavItemInterface[] {
            if(navigation) {
                return this.navigation = this.getShowedItems(navigation);
            }
            return [];
        }

        public getShowedItems(items: NavItemInterface[]): NavItemInterface[] {
            return items.filter((item) => {
                return item.showInMenu && (!item.meta.projectIsDependecy || item.meta.projectIsDependecy && this.currentProject !== null);
            });
        }

        public itemIsHaveChildrens(item: NavItemInterface): boolean {
            if(!item.children) return false;
            return this.getShowedItems(item.children).length !== 0;
        }

        public groupIsHavingCurrentPage(parItem: NavItemInterface): boolean {
            let filtered = this.getShowedItems(parItem.children);
            filtered = filtered.filter((childItem) => {
                return parItem.path + '/' + childItem.path === this.$router.currentRoute.path
            });
            return filtered.length !== 0;
        }
        
    }
</script>
