<template>
    <v-dialog
        v-model="controller.opened"
        max-width="290">
        <v-card>
            <v-toolbar flat color="primary">
                <v-toolbar-title>{{controller.title}}</v-toolbar-title>
            </v-toolbar>
            <v-card-text class="small-margin-top">
                <v-select
                    outlined
                    v-model="controller.defaultValue"
                    :items="controller.items"
                    :label="controller.label"
                    :multiple="controller.multiple"></v-select>
            </v-card-text>        
            <v-card-actions>
                <v-btn color="primary" @click="controller.select()">Select</v-btn>
                <v-btn @click="controller.close()">Cancel</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<style lang="scss">
    .card-actions {
        justify-content: flex-end;
    }
    .card-text {
        margin-top: 10px;
    }
</style>

<script lang="ts">
    import { Component, Vue, Emit, Prop } from 'vue-property-decorator';
    import SelectPopupController from '../controllers/select-popup.controller';

    @Component
    export default class SelectPopupComponent extends Vue {

        @Prop() public controller: SelectPopupController;

    }
</script>