<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
    >
      <navbar-component></navbar-component>
    </v-navigation-drawer>

    <v-app-bar
      dense
      app
      color="primary"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Application</v-toolbar-title>
      <v-spacer />
      
      <template v-if="currentProject !== null">
        <v-btn @click="editProject()" text>{{currentProject.name}}</v-btn>
        <span class="menu-spacer"></span>
      </template>

      <v-menu>
        <template v-slot:activator="{ on }">
          <v-btn text v-on="on">
            <v-icon>perm_identity</v-icon>
            {{currentUser.name}}
          </v-btn>
        </template>
        <v-list dense nav>
          <!-- <v-subheader><h3>{{currentUser.name}}</h3></v-subheader> -->
          <v-list-item @click="() => {}">
            <v-list-item-icon>
              <v-icon>perm_identity</v-icon>
            </v-list-item-icon>
            <v-list-item-title>My profile</v-list-item-title>
          </v-list-item>
          <v-list-item @click="logout()">
            <v-list-item-icon>
              <v-icon>exit_to_app</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-content>
      <v-container>
        <v-breadcrumbs :items="breadcrumbItems" divider="/"></v-breadcrumbs>
        <router-view/>
      </v-container>
    </v-content>
    <v-footer
      color="primary"
      app
    >
      <span class="white--text">&copy; 2019</span>
    </v-footer>

    <project-dialog-component 
      v-model="projectDialogIsOpened"
      :projectId="openedProjectId" />

  </v-app>

</template>

<style lang="scss">
  .menu-spacer {
    width: 2px;
    height: 20px;
    background: #fff;
  }
</style>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import NavbarComponent from '../components/navbar.component.vue';
  import { ACTION_SELECT_CURRENT_PROJECT, GET_CURRENT_PROJECT } from '../store/current-project.module';  
  import { ACTION_LOGIN, ACTION_LOGOUT, GET_CURRENT_USER } from '../store/current-user.module';  
  import ProjectInterface from '../models/project.interface';
  import TokenRepository from '../repository/token.repository';
  import ProjectDialogComponent from '../components/project-dialog.component.vue';

  @Component({
    components: {
      NavbarComponent,
      ProjectDialogComponent
    }
  })
  export default class BaselineLayout extends Vue {

    public get currentUser(): ProjectInterface {
      return this.$store.getters[GET_CURRENT_USER];
    }

    public get currentProject(): ProjectInterface {
      return this.$store.getters[GET_CURRENT_PROJECT];
    }

    public drawer = null;
    public breadcrumbItems: Array<{
            href: string;
            disabled: boolean;
            link?: boolean;
            text: string | number;
            to?: string | object;
        }> = [];

    public projectDialogIsOpened: boolean = false;
    public openedProjectId: number | null = null;

    public created() {
      this.refreshBreadcrumbs();
      this.$router.afterEach((to: any) => {
        this.refreshBreadcrumbs();
      })
    }

    public refreshBreadcrumbs() {
      let routes = this.$router.currentRoute.matched;
      routes = routes.filter((item: any, index: number) => {
        return item.path[item.path.length - 1] !== '/' || index === 0;
      });
      this.breadcrumbItems = routes.map((item, index) => {
        return {
            href: item.path ? item.path : '/',
            disabled: index === routes.length -1,
            // link: index !== routes.length -1,
            text: item.name ? item.name : '',
            // to: item.path
        }
      });
    }

    public logout(): void {
      TokenRepository.removeToken();
      this.$store.dispatch(ACTION_LOGOUT);
      this.$router.push('/login');
    }

    public editProject(): void {
      if(this.currentProject === null) return;
      this.openedProjectId = this.currentProject.id;
      this.projectDialogIsOpened = true;
    }

  }
</script>