<template>
    <v-app>
        <v-content>
            <v-container
                fluid
                fill-height>
                <v-layout
                    align-center
                    justify-center>
                    <v-progress-circular
                        :size="120"
                        :width="12"
                        color="purple"
                        indeterminate></v-progress-circular>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>